/*
* * Mixins * *
*/

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: 62em) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

/**
* * Basic reset
*/

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fafafa;
}

/**
* * Basic typography
*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.heading--primary {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 9rem;
  @include respond(lg) {
    font-size: 7.5rem;
  }
  @include respond(md) {
    font-size: 6.5rem;
  }
  @include respond(xs) {
    font-size: 5rem;
  }
}
.paragraph {
  font-size: 1.6rem;
}

/*
* * Variables * *
*/

$color-red: #ff4e4e;

/*
* * header
*/

.header {
  display: flex;
  min-height: 100%;
  position: absolute;
  width: 20vw;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 10rem;
  &__logo h1 {
    font-size: 5rem;
    font-family: "Merriweather", serif;
    font-weight: 900;
  }
  &__divider {
    position: absolute;
    display: block;
    height: 50rem;
    width: 2px;
    background-color: rgb(190, 190, 190);
    right: 0;
    border-radius: 10px;
  }
  &__cart-icon {
    width: 4rem;
    color: $color-red;
    display: none;
  }
  @include respond(lg) {
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 10rem;
    padding: 8rem 5rem;
    justify-content: space-between;
    align-items: center;
    &__cart {
      .btn {
        display: none;
      }
      &-icon {
        display: block;
        cursor: pointer;
      }
    }

    &__logo h1 {
      font-size: 3.5rem;
    }
    &__divider {
      display: none;
    }
  }
  @include respond(sm) {
    &__logo h1 {
      font-size: 2.5rem;
    }
  }
}

.burger-checkbox {
  display: none;
  &:checked ~ .navigation {
    transform: translateX(0);
  }
  &:checked + .burger-label {
    position: fixed;
    .burger {
      transform: rotate(45deg);
    }
    .burger::before {
      display: none;
    }
    .burger::after {
      transform: rotate(-90deg);
      width: 5rem;
      top: 0;
    }
  }
}

.burger-label {
  display: none;
  position: relative;
  height: 5rem;
  width: 5rem;
  align-items: center;
  z-index: 10;
  .burger {
    display: block;
    width: 5rem;
    height: 4px;
    border-radius: 10px;
    background-color: $color-red;
    position: relative;
    transition: all 0.3s;
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 4px;
      width: 3.2rem;
      background-color: $color-red;
      left: 0;
      top: -1.5rem;
      transition: all 0.3s;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 4px;
      width: 3.8rem;
      background-color: $color-red;
      left: 0;
      top: 1.5rem;
      transition: all 0.3s;
    }
  }
  @include respond(lg) {
    display: flex;
  }
}

.navigation {
  margin: 8rem 0;
  transition: all 0.3s;
  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    a {
      text-decoration: none;
      color: #000;
      font-size: 2rem;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-red;
        height: 3px;
        border-radius: 10px;
        margin-bottom: 1rem;
        transform: scaleX(0);
        transition: transform 0.3s;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
  @include respond(lg) {
    transform: translateX(-100%);
    z-index: 1;
    position: fixed;
    background-color: #fafafa;
    left: 0;
    top: 0;
    right: 0%;
    height: 100vh;
    margin: 0;

    &__nav {
      height: 100%;
      justify-content: center;
      align-items: center;
      width: 100%;
      a {
        font-size: 5rem;
        &::before {
          margin-bottom: 2.5rem;
        }
      }
    }
  }
  &--active {
    transform: translateX(0);
  }
}

/*
* * Components * *
*/

/*
* Button
*/
.btn {
  background-color: $color-red;
  padding: 2rem 4rem;
  border-radius: 500px;
  border: 0;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  width: 18rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 2rem 4rem rgba(#000, 0.2);
  }
  &:active {
    transform: translateY(-2px);
    box-shadow: 0.8rem 1.5rem 3rem rgba(#000, 0.22);
  }
}

.card {
  min-height: 30rem;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 1rem 1.5rem 4rem rgba(#000, 0.25);
  padding: 3rem 0;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
  }
  &__img {
    border-radius: 50%;
    width: 75%;
    display: block;
    margin: 0 auto;
  }
  &_body {
  }
  &__title {
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 1.5rem 2rem 5rem rgba(#000, 0.2);
  }
  @include respond(xs) {
    height: 28rem;
    &__title {
      font-size: 1.6rem;
    }
  }
}

.grid {
  display: grid;
  padding: 5rem 0;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  //max-width: 114rem;
  grid-auto-rows: auto;
  grid-gap: 5rem;
  @include respond(lg) {
    grid-gap: 4rem;
  }
  @include respond(sm) {
    padding: 0;
    grid-gap: 3rem;
  }
  @include respond(xs) {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-gap: 2rem;
  }
}

/*
* * Pages * *
*/

.main {
  margin-left: 25vw;
  padding: 18rem 0;
  margin-right: 15rem;
  @include respond(lg) {
    margin-left: 0;
    padding: 5rem 15rem;
    margin-right: 0;
  }
  @include respond(md) {
    padding: 5rem 10rem;
  }
  @include respond(sm) {
    padding: 5rem 3rem;
  }
}

/*
* Home
*/

.home {
  display: flex;
  flex-wrap: wrap;
  &__heading {
    flex: 0 0 70%;
  }
  &__paragraph {
    flex: 0 0 30%;
    .paragraph {
      line-height: 3rem;
      font-size: 2rem;
      color: rgb(126, 126, 126);
    }
    .line {
      display: block;
      width: 25%;
      height: 3px;
      background-color: $color-red;
      margin-top: 2rem;
      border-radius: 10px;
    }
  }
  .grid {
    flex: 0 1 100%;
    justify-content: space-between;
    align-content: space-between;
  }
  .hero {
    display: flex;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    &__left {
      flex-basis: 70%;
      padding-right: 5rem;
    }
    &__right {
      flex-basis: 30%;
    }
  }
  @include respond(lg) {
    &__paragraph {
      .paragraph {
        font-size: 1.6rem;
      }
    }
  }
  @include respond(md) {
    &__heading {
      flex: 1;
      margin-bottom: 5rem;
    }
    &__paragraph {
      order: 1;
      flex: 1;
      margin-top: 5rem;
    }
  }
}
